ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.bg-img img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
}

/* .h-title-logo {

} */

.h-items ul {
    display: flex;
    float: left;
}

.h-menu {
    padding: 5px 20px;
}

.h-menu:hover {
    color: #ffbe33;
}
